@model MusicLibrary.Models.Song

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Delete</h2>
<br /><br />
<h3>Are you sure you want to delete this?</h3>
<div>
    <hr /><br />
    <dl class="dl">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Artist)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Album)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Album)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="SongID"/>
        <input type="submit" value="Delete"/> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
